<% layout("/layouts/boilerplate") %>

<div class="container text-center mt-5">
    <h1>Error <%= statusCode %></h1>
    <p><%= message %></p>
    <a href="/listings" class="btn btn-primary">Go Back</a>
</div>